<div class="Vlt-box Vlt-box--lesspadding Vlt-accordion Nxd-accordion-emphasis">
	<button class="Vlt-accordion__trigger" data-accordion="acc<%= id %>" tabindex="0"><%= title %></button>

	<div id="acc<%= id %>" class="Vlt-accordion__content Vlt-accordion__content--noborder">
		    <p><%=deps['text']%></p>
        <% if deps['code'] %>
		    <pre class="Vlt-prism--dark language-<%= deps['type'] || 'bash' %> dependencies command-line Vlt-prism--copy-disabled" data-prompt='$'><code><%=deps['code']%></code></pre>
        <% end %>
	</div>
</div>

