<h2 class="Vlt-title--margin-top3"><%= ::I18n.t('.code_snippets.write_code.write_the_code') %></h2>
<%= add_instructions %>

<pre class="language-<%= lexer.tag %> main-code Vlt-prism--dark" data-lang="<%= lang %>" data-block="<%= config['source'] %>" data-section="code"><code><%= highlighted_code_source %></code></pre>

<p><a data-section="code" data-lang="<%= lang %>" data-block="<%= config['source'] %>" href="<%= source_url %>"><%= ::I18n.t('.code_snippets.write_code.view_full_source') %></a></p>

